<% include ../includes/header %>
<div class="container">

  <div class="hero-unit" style="margin-top:60px;background-color:white">
    <h2 style="float:left"><%=user.firstName %>'s Trip to <%=trip.place %></h2>
    <div style="float:right;margin-top:20px">
        <% if (day.day > 1) { %>
        <a style="margin-bottom:4px" class="btn btn-mini" href="/trips/<%=trip._id%>/<%=day.day - 1%>"><i class="icon-arrow-left"></i></a>
        <% } %>
        <span><%=day.adjustedDate %></span>
        <% if (day.day < trip.days.length - 1) { %>
        <a style="margin-bottom:4px" class="btn btn-mini" href="/trips/<%=trip._id%>/<%=day.day + 1%>"><i class="icon-arrow-right"></i></a>
        <% } %>
    </div>
    <hr style="clear:both" />
    <div class="ideas">
        <p class="lead">You should go check out this super awesome place!</p>
        <div style="margin-left:50px" class="comments">
            <p><img src="<%=user.picture%>" class="img-rounded" width="40" height="40" style="margin-right:10px" /><span>This is a comment.</span></p>
            <p><img src="http://graph.facebook.com/chuckjohnstone/picture" class="img-rounded" width="40" height="40" style="margin-right:10px" /><span>This is another one!</span></p>
        </div>
         <p class="lead">You should go check out this super awesome place!</p>
        <div style="margin-left:50px" class="comments">
            <p><img src="<%=user.picture%>" class="img-rounded" width="40" height="40" style="margin-right:10px" /><span>This is a comment.</span></p>
            <p><img src="http://graph.facebook.com/chuckjohnstone/picture" class="img-rounded" width="40" height="40" style="margin-right:10px" /><span>This is another one!</span></p>
        </div>
         <p class="lead">You should go check out this super awesome place!</p>
        <div style="margin-left:50px" class="comments">
            <p><img src="<%=user.picture%>" class="img-rounded" width="40" height="40" style="margin-right:10px" /><span>This is a comment.</span></p>
            <p><img src="http://graph.facebook.com/chuckjohnstone/picture" class="img-rounded" width="40" height="40" style="margin-right:10px" /><span>This is another one!</span></p>
        </div>
    </div>



    
  </div>

</div>
