<% include ../includes/header %>
<div class="container">

  <div class="hero-unit" style="margin-top:60px;background-color:white">  
    
        <h2 style="font-size: 26px;margin-bottom:15px;"><%=(trip.owner.firstName.substring(trip.owner.firstName.length-1) == "s") ? trip.owner.firstName + "'" : trip.owner.firstName + "'s" %> Trip to <%=trip.place %></h2>

    <div style="clear:both;"></div>
    <div style="margin-top:5px;">
        <div class="pull-left">
            <% if (day.day > 1) { %>
            <a style="margin-bottom:4px" class="btn btn-mini" href="/trips/<%=trip._id%>/<%=day.day - 1%>"><i class="icon-arrow-left"></i></a>
            <% } %>
            <span><%=day.adjustedDate %> (day <%=day.day%>)</span>
            <% if (day.day < trip.days.length) { %>
            <a style="margin-bottom:4px" class="btn btn-mini" href="/trips/<%=trip._id%>/<%=day.day + 1%>"><i class="icon-arrow-right"></i></a>
            <% } %>
        </div>
        <div class="share pull-right">
            <a class="lead btn btn-info" data-toggle="modal" href="#shareModal">Ask friends for ideas!</a>
        </div>
    </div> 
    <hr style="clear:both" />
    <div class="ideas">
        <div class="title">
            <a href="#addIdea" class="add pull-left" data-toggle="modal" rel="tooltip" data-placement="left" title="Add Idea" style="margin-top: -2px;"><i class="icon-plus icon-white" style="margin-right:7px;"></i></a>
            <p class="pull-left" style="margin-left: 8px; color: black;">Add an idea for your trip.<p>
        </div>    
        <% day.ideas.forEach(function(idea) { %>
                    <p><img src="<%=idea.owner.picture%>" class="img-rounded" width="40" height="40" style="margin-right:10px" /><span>
                        <strong><%=idea.owner.firstName + " " + idea.owner.lastName%>: </strong></span></p>
                    <% });%>
                    
        <div style="margin-left:55px;clear:both" class="ideas">
            <% if (day.ideas.length == 0) { %>
            <p class="lead"></p>
            <% } %>
            <% day.ideas.forEach(function(idea) { 
                if (idea.type == "general"){ %> 
                <div>  
                    <p class="lead idea pull-left" style="cursor:pointer;"><%=idea.text%></p>
                    <div class="pull-right">
                    
                    
                        
                        <span class="label label-inverse"><%=idea.comments.length%> Comments</span>
                    
                    </div>
                     <div style="margin-left:50px;clear:both" class="comments">
                    <% if (idea.comments.length == 0) { %>
                        <p>Have something to say about this idea? Let's hear it!</p>
                    <% } %>
                    <% idea.comments.forEach(function(comment) { %>
                    <p><img src="<%=comment.owner.picture%>" class="img-rounded" width="40" height="40" style="margin-right:10px" /><span>
                        <strong><%=comment.owner.firstName + " " + comment.owner.lastName%>: </strong><%=comment.text%></span></p>
                    <% });%>
                  
                <div class="form-actions">
                    <form action="/trips/<%=trip._id%>/<%=day._id%>/<%=idea._id%>" method="POST">    
                        <input name="comment" placeholder="Enter your comment..." class="span8" type="text">
                        <button type="submit" style="margin-bottom: 10px;" class="btn btn-success help-inline" type="button">Save</button>
                    </form>    
                </div>
            </div>
            </div>
            <div style="clear:both"></div>
            <% } %>  
            <% }); %>
        </div>
    </div>
    <br />
    <hr />
    <div class="accommodations">
        <div class="title">
            <a href="#addPlace" class="add pull-left" data-toggle="modal" rel="tooltip" data-placement="left" title="Add Idea"><i class="icon-plus icon-white" style="margin-right:7px;"></i></a>
            <p class="pull-left" style="margin-left: 8px; color: black;">Add a place to stay.<p>
        </div> 
        <div style="margin-left:55px;clear:both" class="ideas">
            <% if (day.ideas.length == 0) { %>
            <p class="lead"></p>
            <% } %>
            <% day.ideas.forEach(function(idea) { 
                if (idea.type == "accommodation"){ %> 
                <div>  
                    <p class="lead idea pull-left"><%=idea.text%></p>
                    <div class="pull-right">
                        <span class="label label-inverse"><%=idea.comments.length%> Comments</span>
                    </div>
                     <div style="margin-left:50px;clear:both" class="comments">
                    <% if (idea.comments.length == 0) { %>
                        <p>Have something to say about this idea? Let's hear it!</p>
                    <% } %>
                    <% idea.comments.forEach(function(comment) { %>
                    <p><img src="<%=comment.owner.picture%>" class="img-rounded" width="40" height="40" style="margin-right:10px" /><span>
                        <strong><%=comment.owner.firstName + " " + comment.owner.lastName%>: </strong><%=comment.text%></span></p>
                    <% });%>
                  
                
                <div class="form-actions">
                    <form action="/trips/<%=trip._id%>/<%=day._id%>/<%=idea._id%>" method="POST">    
                        <input name="comment" placeholder="Enter your comment..." class="span8" type="text">
                        <button type="submit" style="margin-bottom: 10px;" class="btn btn-success help-inline" type="button">Save</button>
                    </form>    
                </div>
            </div>
            </div>
            <div style="clear:both"></div>
            <% } %>  
            <% }); %>
        </div>
    </div> 
  </div>
</div>

<div id="addIdea" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>What's your idea?</h3>
  </div>
  <div class="modal-body">
    <form action="/trips/<%=trip._id%>/<%=day._id%>" method="POST">
        <input placeholder="Your idea for something to do..." style="width:95%" type="text" name="idea" />
        <input name="type" type="hidden" value="general" />
        <div class="modal-footer">
            <button type="submit" href="#" class="btn btn-success">Post Idea</a>
        </div>
    </form>
  </div>
</div>

<div id="addPlace" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>What's your idea?</h3>
  </div>
  <div class="modal-body">
    <form action="/trips/<%=trip._id%>/<%=day._id%>" method="POST">
        <input placeholder="Your idea for a place to stay..." style="width:95%" type="text" name="idea" />
        <input type="hidden" name="type" value="accommodation" />
        <div class="modal-footer">
            <button type="submit" href="#" class="btn btn-success">Post Idea</a>
        </div>
    </form>
  </div>
</div>

<div style="width:580px;height:300px" class="modal hide fade" id="shareModal">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Ask friends for trip ideas!</h3>
  </div>
  <div class="modal-body">
    <input style="padding:5px;font-size:20px;width:90%" value="<%=trip.shortUrl%>" />
        <p>Here's a link to your trip, share it with your friends and have them post their ideas and comments (We can't be held responsible for awful ideas).</p>

    <div style="margin-top:20px">
        <img src="/img/facebook.png" id="facebook" width="60" height="60" />
        <img src="/img/twitter.png" id="twitter" width="60" height="60" />
        <img src="/img/google.png" id="google" width="60" height="60" />
    </div>
    <p>Post your trip on Facebook, Twitter, or Google+ and ask friends to add ideas and comments (We won't ever post w/o your permission 'cause we hate Farmville).</p>
  </div>
</div>

<script type="text/javascript">
    $(function(){
        $(".idea").click(function(){
            console.log($(this).find(".comments"));
            $(this).parent().find('.comments').slideToggle();
        });
        <!-- $('.comments').hide(); -->

        $("#facebook").click(function(){
            trackSharing('Facebook');
           window.open('https://www.facebook.com/dialog/feed?app_id=392465224163061&display=popup&link=<%=trip.shortUrl%>&name=Share your trip to <%=trip.place%>&description=Ask your friends for help planning your next adventure!&redirect_uri=http://www.escapescout.com/trips/<%=trip._id%>/1','1358306620679','width=580,height=300,toolbar=0,menubar=0,location=0,status=0,scrollbars=0,resizable=0,left=0,top=0');
        });
        $("#twitter").click(function(){
            trackSharing('Twitter');
            window.open('https://www.twitter.com/share?url=<%=trip.shortUrl%>&text=Help me plan my trip to <%=trip.place%>.','1358306620679','width=580,height=300,toolbar=0,menubar=0,location=0,status=0,scrollbars=0,resizable=0,left=0,top=0');

        });
        $("#google").click(function(){
            trackSharing('Google');
            window.open('https://plus.google.com/share?url=<%=trip.shortUrl%>&text="Help me plan my trip to <%=trip.place%>.','1358306620679','width=580,height=300,toolbar=0,menubar=0,location=0,status=0,scrollbars=0,resizable=0,left=0,top=0');
        });

        function trackSharing(type){
        $.ajax({
            url:'/analytics/track-sharing',
            data: {type: type}
        });
    }
    });
    
    
</script>
